<div class="box">{{#if artwork_url}}<img src="{{artwork_url}}">{{/if}}
      <div class="genre">{{genre}}</div>
      <div class="title">{{title}}</div>
      <div class="buttons">
        <div class="play">
          <div class="glyph"><span class="glyph-item mega play-show" aria-hidden="true" data-icon="&#xe071;" data-js-prompt="&amp;#xe005;"></span><span class="glyph-item mega pause-show" aria-hidden="true" data-icon="&#xe072;" data-js-prompt="&amp;#xe005;"></span></div>
        </div>
        <div class="fav" data-id="{{id}}">
          <div class="glyph"><span class="glyph-item mega plus" aria-hidden="true" data-icon="&#xe095;" data-js-prompt="&amp;#xe005;"></span><span class="glyph-item mega heart" aria-hidden="true" data-icon="&#xe08a;" data-js-prompt="&amp;#xe005;"></span></div>
        </div>
      </div>
    </div>