 <div class="view-btns">
  	<div class="glyph"><span class="glyph-item mega eye" aria-hidden="true" data-icon="&#xe087;" data-js-prompt="&amp;#xe005;"></span>
  	</div>
  	<div class="glyph"><span class="glyph-item mega txt" aria-hidden="true" data-icon="&#xe067;" data-js-prompt="&amp;#xe005;"></span>
  	</div>
  </div><div class="logo">SOUNDZ</div>
  <div class="search">
  </div>