<div class="avatar">
          <img class="avatar" src="img/avatar.png">
          <div class="avatar-name">Joey
            <a class="log" src="#">Logout</a>
          </div>
        </div>
          <li><a href="/search" class="main-nav" id="search-a" data-name="search">Search Songs</a></li>
          <li><a href="/playlist" class="main-nav" data-name="playlist">Playlist</a></li>
          