
  <a data-name="search" href="search"> <div class="glyph"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe090;" data-js-prompt="&amp;#xe005;"></span></div> Search</a>
  <a data-name="playlist" href="playlist"> <div class="glyph"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe030;" data-js-prompt="&amp;#xe005;"></span></div> My Playlist</a>
