<div class="keyword-search">
        <form>
          <label>
          <i class="fa fa-search"></i> <input id="search-keyword" type="text" name="search-keyword" placeholder="search by keyword" />
          </label>
        </form>
      </div>